<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>

<!-- Main Content -->
<div class="main-content">
    <section class="section">
        <div class="section-header">
            <h1>Permintaan Layanan: Pinjam Kunci</h1>
        </div>
        <ul class="nav nav-pills mb-4">
            <li class="nav-item">
                <a class="nav-link" href="/admin/pinjam_kunci/validasi_pinjam_kunci">Peminjaman Kunci Ruangan </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/admin/pinjam_kunci/validasi_kembali_kunci">Pengembalian Kunci
                    Ruangan <i class="fas fa-key"></i></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/pinjam_kunci/daftar_kunci">Daftar Kunci Ruangan </a>
            </li>
        </ul>
        <% if (success.length > 0) { %>
        <div class="alert alert-primary alert-has-icon alert-dismissible show fade">
            <div class="alert-icon"><i class="fas fa-thumbs-up"></i></div>
            <div class="alert-body">
                <button class="close" data-dismiss="alert">
                    <span>×</span>
                </button>
                <div class="alert-title">Success</div>
                <%= success %>
            </div>
        </div>
        <% } %>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h4>Daftar Permintaan Validasi Pengembalian Kunci</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="pinjam-kunci">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Nama Peminjam</th>
                                        <th scope="col">No Telepon</th>
                                        <th scope="col">Ruangan</th>
                                        <th scope="col">Tanggal Pinjam</th>
                                        <th scope="col">Validasi</th>
                                        <th scope="col">QR Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% detail_peminjaman.forEach((pinjam, index) => { %>
                                    <tr>
                                        <th scope="row"><%= index + 1 %></th>
                                        <td><%= pinjam.Data_Peminjaman.User.nama_user %></td>
                                        <td><%= pinjam.Data_Peminjaman.User.telp_user %></td>
                                        <td><%= pinjam.Kunci.nama_ruangan %></td>
                                        <td><%= pinjam.Data_Peminjaman.tanggal_pinjam %></td>
                                        <% if (pinjam.status === 'dipinjam') { %>
                                        <td>
                                            <a href="#modalKembaliKunci" type="button" class="btn btn-success"
                                                id="validasi-pengembalian" data-toggle="modal" 
                                                data-target="#modalKembaliKunci" data-id="<%= pinjam.Data_Peminjaman.id %>"
                                                data-tanggal-pinjam="<%= pinjam.Data_Peminjaman.tanggal_pinjam %>"
                                                data-nama_ruangan="<%= pinjam.Kunci.nama_ruangan %>">
                                                Validasi Pengembalian
                                            </a>
                                        </td>
                                        <% } else { %>
                                        <td>
                                            <a href="#" class="btn btn-secondary disabled"
                                                disabled>Validasi
                                                Pengembalian</a>
                                        </td>
                                        <% } %>
                                        <td>
                                            <a href="#QRCodeGenerator" data-toggle="modal" data-id="<%= pinjam.Data_Peminjaman.id %>"
                                                data-tanggal_pinjam="<%= pinjam.Data_Peminjaman.tanggal_pinjam %>"
                                                data-tanggal_kembali="<%= pinjam.Data_Peminjaman.tanggal_kembali %>"
                                                data-nama_user="<%= pinjam.Data_Peminjaman.User.nama_user %>"
                                                data-telp_user="<%= pinjam.Data_Peminjaman.User.telp_user %>"
                                                data_kunci="<%= pinjam.Kunci.nama_ruangan %>"
                                                data-target="#QRCodeGenerator" id="qrcode-pinjam-kunci"
                                                class="btn btn-dark">
                                                <i class="fas fa-qrcode"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="modal fade" id="QRCodeGenerator" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-lg modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detail Aduan dan Komentar</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="qrcode" class="text-center"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Tutup</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalKembaliKunci" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Pinjam Kunci</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/admin/pinjam_kunci/validasi_kembali_kunci" method="POST">
                    <input type="hidden" id="id_peminjaman" name="id_peminjaman" value="">
                    <div class="form-group">
                        <label for="nama-kunci">Nama Kunci</label>
                        <input type="text" class="form-control" name="nama_kunci" id="nama_kunci" readonly>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_pinjam">Tanggal Pinjam</label>
                        <input type="text" class="form-control" name="tanggal_pinjam" id="tanggal_pinjam" readonly>
                    </div>
                    <div class="form-group">
                        <label for="tanggal_kembali">Tanggal Kembali</label>
                        <input type="text" class="form-control datepicker" name="tanggal_kembali" id="tanggal_kembali">
                    </div>
                    <div class="form-group">
                        <label for="keperluan">Nama Pengembali Kunci</label>
                        <input type="text" class="form-control" name="nama_pengembali" id="nama_pengembali" required>
                    </div>
                    <button type=" submit" class="btn btn-primary" style="float: right;">Validasi Pengembalian</button>
                    <button type="button" class="btn btn-secondary mr-2" style="float: right;"
                        data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include ../../partials/footer.ejs %>

<script>
    function validasi_kunci(id) {
        let idPinjam = id;
        swal({
            title: "Yakin ingin menyetujui pengembalian kunci ini?",
            text: "Konfirmasi penyetujuan tidak dapat kembali lagi",
            icon: "warning",
            buttons: true,
            dangerMode: true
        }).then((willDelete) => {
            if (willDelete) {
                swal({
                    title: 'Informasi',
                    text: "Success menyetujui pengembalian kunci",
                    position: 'top-left',
                    icon: 'success',
                    buttons: false,
                    timer: 2000
                }).then((suksesDelete) => {
                    window.location.assign(`/admin/pinjam_kunci/validasi_kembali_kunci/${idPinjam}/`);
                })
            }
        })
    }

    $(document).ready(function () {
        let qrcode = new QRCode(document.querySelector('#qrcode'), {
            width: 250,
            height: 250,
            colorDark: "#000000",
            colorLight: '#ffffff',
            correctLevel: QRCode.CorrectLevel.H
        });

        $('#pinjam-kunci').on('click', '#qrcode-pinjam-kunci', function () {
            const id = $(this).data('id')
            const tanggal_pinjam = $(this).data('tanggal_pinjam');
            const tanggal_kembali = $(this).data('tanggal_kembali');
            const nama_user = $(this).data('nama_user');
            const telp_user = $(this).data('telp_user');
            const kunci = $(this).data('kunci');

            $('#QRCodeGenerator').modal('show');

            qrcode.makeCode(`nama peminjam: ${nama_user} & no teleponnya: ${telp_user} pada tanggal: ${tanggal_pinjam} `);
        });

        $('#pinjam-kunci').on('click', '#validasi-pengembalian', function() {
            const id = $(this).data('id');
            const nama_ruangan = $(this).data('nama_ruangan')
            const tanggal_pinjam = $(this).data('tanggal-pinjam');

            $(".datepicker").flatpickr({
            altInput: true,
            altFormat: "F j, Y",
            dateFormat: "Y-m-d",
            minDate: tanggal_pinjam,
        });

            $('#modalKembaliKunci').modal('show');
            $('#id_peminjaman').val(id);
            $('#nama_kunci').val(nama_ruangan);
            $('#tanggal_pinjam').val(tanggal_pinjam)
        });

        $("#pinjam-kunci").DataTable({});
    });
</script>